.logo{
  margin: auto;
}
.logo__image{
  display: flex;
  justify-self: center;
  padding-top: 34px;
  padding-bottom: 8px;
}

.logo__title{
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
  .logo{
    max-width: 255px;
    max-height: 69px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) and (min-width: 321px) {
  .logo{
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .logo{
    width: 60%;
  }
}