.places{
  display: grid;
  margin: 40px auto 0;
  width: 100%;
}
.places__title{
  font-family: 'Inter';
  font-weight: 900;
  color: #ffffff;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  grid-area: places__title;
  width: 460px;
}
.places__url-heading{
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  align-self: end;
  grid-area: places__url-heading;
}
.places__url-heading-light{
  font-weight: 200;
  color: #aaa;
  font-size: 12px;
  text-transform: uppercase;
}
.places__image{
  width: 460px;
  height: 460px;
  grid-area: places__image;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__description{
  color: #ffffff;
  grid-area: places__description;
  line-height: 163%;
}
p {
  margin-top: 0;
}
.places__button-area{
  grid-area: places__button-area;
}

.places__button{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  border-radius: 8px;
  box-shadow: 5px 5px 10px 0px #00000040;
  border: 0;
}

.places__image:hover{
  opacity: 0.5;
}
.places__button:hover{
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (min-width: 1280px) {
  .places{
    grid-template-columns: repeat(2, 460px);
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
    column-gap: 50px;
    max-width: 987px;
    grid-template-areas:
    "places__title places__url-heading"
    "places__image places__description"
    "places__button-area . ";
  }
  .places__button{
    width: 289px;
    height: 48px;
  }
  .places__button-area-adjust{
    margin-top: -130px;
  }
}
@media screen and (max-width: 1279px) and (min-width:768px){
  .places{
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
    max-width: 720px;
    grid-template-areas:
    "places__title places__url-heading"
    "places__image places__description"
    "places__button-area places__description";
  }
  .places__title{
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin: 0;
  }
  .places__image{
    width: 340px;
    height: 340px;
  }
  .places__description{
    font-size: 16px;
  }
  .places__button{
    width: 289px;
    height: 48px;
  }
  .places__button-area{
    margin-top: -80px;
  }
  .places__button-area-adjust{
      margin-top: -190px;
  }
  .places__button-area-second-adjust{
      margin-top: -120px;
  }
}

@media screen and (max-width: 767px){
  .places{
    grid-template-columns: 288px;
    grid-template-rows: repeat(5, auto);
    row-gap: 10px;
    column-gap: 10px;
    max-width: 288px;
    grid-template-areas:
    "places__title"
    "places__url-heading"
    "places__image"
    "places__description"
    "places__button-area";
    justify-items: center;
    margin: 20px auto 0;
  }
  .places__title{
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
  .places__image{
    max-width: 288px;
    max-height: 288px;
  }

  .places__button{
    width: 260px;
    height: auto;
    font-size: 14px;
    padding: 12px;
  }
}
